@model IEnumerable<TouristAgency.Models.Destination>

@{
    ViewData["Title"] = "Всички дестинации";
}

<h2>Всички дестинации</h2>

<ul class="list-group">
    @foreach (var dest in Model)
    {
        <li class="list-group-item">
            <a asp-action="Destination" asp-route-id="@dest.Id">@dest.Name</a>
        </li>
    }
</ul>
